@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains";
  src: url(assets/fonts/static/JetBrainsMono-Bold.ttf) format("truetype");
}
body {
  background-color: #08070b;
  overflow: hidden;
}

.bodyM {
  font-size: 18px;
  line-height: 23px;
}
.headingM {
  font-size: 24px;
  line-height: 31px;
}
@media screen and (min-width: 768px) {
  .headingL {
    font-size: 32px;
    line-height: 43px;
  }
}
